{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Caveat|Poppins:400,500,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2dda32da93.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="{% static 'accounts/css/home.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="bi">
        <div id= "nav">
            <a href="{% url 'post' %}"><img class= "logo" style="width: 120px; height: 80px;" src="https://dynamic.brandcrowd.com/asset/logo/d04397b4-9fba-4ae1-bbf6-fa352e52a1b4/logo?v=4&text=brootblog" alt="logo"/></a>
        <div class="menu">
            <a class= "menu-item" href="{% url 'post' %}">Blogs</a>
            <a class= "menu-item" href="{% url 'contact' %}">Contact Us</a>
            <a class= "menu-item" href="{% url 'login' %}">Sign in</a>
            <a href="{% url 'signup' %}"><button class= "primary-button" style="background-color: #0078b4;">Get Started</button></a>
        </div>
        </div>
        <div id= "landing-section">
            <div class= "land" style="margin-top: 140px;">
            <h1 style="font-size: 45px; letter-spacing: 2px; font-weight: 500;">Feel the blogging experience to create your unique and dynamic blog with<p style="color: #0078b4; margin-bottom: 0px; font-size: 60px; margin-top: 30px;"> BrOoTblog</p></h1>
            <p class= "pera" style="color: white; text-shadow: 1px 2px 2px darkblue; " >We provides you a creative and dynamic platform that you need to post your blog, a world class support system and more 
                We provides you a creative and dynamic platform that you need to post your blog. Brootblog is a user-friendly way for people all over the world to create any kind of blog. Our world class support system will be here for you to help you  and many more </p>
        </div>
        </div>
        </div>
        <div id= "cards">
            <div id= "card" class= "card1">
                <i class="fas fa-cut icon"></i>
                <h2>Technical</h2>
                <p>Post your blog relating to a particular subject, art, or craft, or its techniques involving or concerned with applied and industrial sciences. it may refer to Technical vehicles ,analysis drawing,support and Technical education</p>
            </div>
            <div id= "card" class= "card2">
                <i class="fa fa-paint-brush icon"></i>
                <h2>Political</h2>
                <p>Post your blog relating to the government or public affairs of a country.In modern nation states, people often form political parties to represent their ideas. Members of a party often agree to take the same position on many issues </p>
            </div>
            <div id= "card" class= "card3">
                <i class="fa fa-shopping-bag icon"></i>
                <h2>Educational</h2>
                <p>Post your blogs relating the education. Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include teaching, discussion and directed research.</p>
            </div>
            <div id= "card" class= "card4">
                <i class="far fa-smile icon"></i>
                <h2>Health</h2>
                <p>Post your blog relating to your Health. The state of being free from illness or injury. A person's mental or physical condition used to express friendly feelings towards one's companions before drinking.</p>
            </div>
        </div>
            <div id= page3>
                <div id= "page3i">
                    <h3>Fresh Blog</h3>
                    <h2>Our Blog Store!</h2>
                    <p>Our world class support system will be here for you to help you</p>
                </div>
                <div class= "cardp3">
                    <div class= icon-wrapper>
                        <i class="fa fa-camera icon2"></i>
                    </div>
                    <div>
                        <h4 class= "fresh">Clear Focus</h4>
                        <p class= "use">Create your own blog for several types of Categories.</p>
                    </div>
                </div>
                <div class= "cardp3">
                <div class= icon-wrapper>
                    <i class="fa-rocket fa icon2"></i>
                </div>
                <div>
                    <h4 class= "fresh">High Quality</h4>
                    <p class= "use">This is the best plateform to get all essential requirements for Creator and Reader.</p>
                </div>
                </div>
                <div class= "cardp3">
                    <div class= icon-wrapper>
                        <i class="fab fa-twitter icon2"></i>
                    </div>
                    <div>
                        <h4 class= "fresh">performance</h4>
                        <p class= "use">This is very good plateform to read and create blogs for several types of user like author and reader.</p>
                    </div>
                </div>
                <div class= "cardp3">
                    <div class= icon-wrapper>
                         <i class="fab fa-weixin icon2"></i>
                    </div>
                    <div>
                        <h4 class= "fresh">Regular content</h4>
                        <p class= "use"> Understand the structure of a blog and what you need to know about .</p>
                    </div>
                </div>
            </div>
            <div id= page4>
                <div id= "page4i">
                    <h3>Fresh Blog</h3>
                    <h2>Testimonials!</h2>
                    <p>According to experts, any habit can be formed in 21 days. The same statement applies to habit of Reading.</p>
               </div>
               <div id= "card4">
                   <div class= "card4i">
                      <img class= "img4" src="https://mobirise.com/extensions/organicamp/assets/images/face5.jpg"/>
                      <p>Brootblog is a great place to read and learn from a wide range of authors. It’s not muddied up by ads. It’s not fake news. It feels like one of the few pure places to go online.</p>
                      <h3>VERONICA KING</h3>
                      <h4>Reader</h4>    
                  </div>
                   <div id= "ht" class= "card4i">
                       <img class= "img4" src="https://mobirise.com/extensions/organicamp/assets/images/face6.jpg"/>
                       <p> Brootblog is trying to shift the paradigm. They’re catering to those looking for fresh, new, authentic voices. I believe wholeheartedly in their mission.</p>
                       <h3>JIM CASH</h3>
                       <h4>Reader</h4>    
                   </div>
                   <div class= "card4i">
                      <img class= "img4" src="https://mobirise.com/extensions/organicamp/assets/images/face7.jpg"/>
                      <p>In a web full of pseudo thought-leaders, Medium is the one place that I can reliably come to and be better informed in the easiest way possible of the things that matter to me.</p>
                      <h3>PETER GOODMAN</h3>
                      <h4>Blogger</h4>    
                   </div>
               </div>
            </div>
</body>
</html>