{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block extra_head %}
    <link rel='stylesheet' href="{% static 'accounts/css/login.css' %}">
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
   <div >
    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
        <h1 s class="h3 mb-0 text-gray-800">email </h1>
        </div>          

        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5" style="margin-left: 25%; width: 50%;">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Password-Change</h1>
                  </div>
                  <form method="POST" enctype="multipart/form-data" style="text-align: center;">
                      {% csrf_token %}  
                      {% for field in form %}
                          <p>{{field.label_tag}}</p>
                          <p>{{field}}</p>
                          <p>{{field.errors}}</p>
                     {% endfor %} 
                    <button type="submit" class="btn btn-success btn-block">Submit</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'login' %}">Back</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div> 
    <!-- /.container-fluid -->
{% endblock content %}