{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %} 
{% block extra_head %}
    <link rel='stylesheet' href="{% static 'accounts/css/login.css' %}">
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
   <div >
    <div class="container-fluid" >

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 ">
        <h1 s class="h3 mb-0 text-gray-800">e </h1>
        </div>          

        <!-- Main Content Here -->
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h2 >Password reset complete</h2> 
                    <h6>Your password has been set. You may go ahead and log in now.</h6>
                    <a href="{% url 'login' %}">login</a>
                </div>
                </div>
          </div>
        </div>
    </div>
  </div> 
    <!-- /.container-fluid -->
{% endblock content %}