{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.1/tinymce.min.js"></script> -->
    <script src="https://cdn.tiny.cloud/1/0kjopuov07h9yziktnoazp2p2bg3mro65sm8dsh5gz7kgb8v/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
    <link rel='stylesheet' href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Poppins:400,500,600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2dda32da93.js" crossorigin="anonymous"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div id= "nav">
        <a href="{% url 'home' %}"><img class= "logo" style="width: 120px; height: 80px;" src="https://dynamic.brandcrowd.com/asset/logo/d04397b4-9fba-4ae1-bbf6-fa352e52a1b4/logo?v=4&text=brootblog" alt="logo"/></a>
    <div class="menu">
        <a class= "menu-item" href="{% url 'create-post' %}">Create Post</a>
        <a class= "menu-item" href="{% url 'post' %}">Blogs</a>
        <a class= "menu-item" href="{% url 'profile' %}">MY Profile</a>
        <button class= "primary-button" style="background-color: #0078b4;">
            {% if user.is_authenticated %}
                <p class= "menu-item">{{ user.get_username }}  <span class = 'logout' ><a style="color: white;" href = "{% url 'logout' %}">Logout</a></span></p>
               
            {% else %}
               <p><a style="color: white;" href= "{% url 'login' %}">Login</a></p>
            {% endif %}
       </button>
    </div>  
    </div>
    <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'a11ychecker advcode casechange formatpainter linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tinycomments tinymcespellchecker',
          toolbar: 'a11ycheck addcomment showcomments casechange checklist code formatpainter pageembed permanentpen table',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
        });
      </script>
        {% block content %}
        {% endblock %}
 
</body>
</html>